.menu {
    width: 100%;
    height: 80px;
    line-height: 80px;
}

nav-ul {
    display: inline;
    justify-content: center;
    
}
li {
    display: inline;
    text-decoration: none;
    margin: 0 15px; 
    color: #3A4750;
}

.menu-form button {
    width: 180px;
    height: 40px;

    border-radius: 30px;
    border: none;

    background-color: #F6C90E;
    color: var(--font-color);
    font-size: 14px;
    font-weight: 700;

    transition: transform 0.3s ease;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
        transform: scale(1.1);
        font-size: 15px;
    }
}