.menu {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: fixed;
}

.logo a {
    font-size: 30px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    .logo-span {
        color: var(--contrast);font-size: 40px;
        
    }
}

nav-ul {
    display: inline;
    justify-content: center;
}

li {
    display: inline;
    text-decoration: none;
    margin: 0px 15px; 
    color: #3A4750;
    transition: 0.2s ease;
    font-size: 18px;
    &:hover {
        border-bottom: 4px solid var(--contrast);
        color: #000;
    }
    
}

.menu-form button {
    width: 180px;
    height: 35px;

    border-radius: 30px;
    border: none;

    background-color: var(--contrast);
    color: var(--font-color);
    font-size: 14px;
    font-weight: 700;

    transition: transform 0.3s ease;
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
        transform: scale(1.1);
        font-size: 15px;
    }
}