@import url(/style/colors_variables.css);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: var(--main-fonts);
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
}